* {
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/background-gif-images-9.gif);
    background-size: cover;
}
.button{
    background-color:whitesmoke;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid lightblue;
    margin-left: 90%;
    margin-top: 2px;
    color:black;
    text-decoration: none;
    font-style: italic;
}
.button:hover{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.header{
    display: inline-block;
    font-family: "arial";
    font-size: 24px;
    align-items: center;
    align-content: center;
    margin-left: 40%;
  }
h1{
    color: white;
    font-size: 100px;
    border-right: .1em solid black;
  width: 13.20ch;
  margin: 2em 2em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 5s steps(13, end),
	           blink-caret .5s step-end infinite alternate;
  }
  
  @keyframes typing {
    from { width: 0 }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
h1::first-letter{
    color: rgb(101, 195, 226);
}
.card{
    background-color: white;
    width: 30vw;
    border: 3px solid  rgb(101, 195, 226);
    border-radius: 10px;
    margin-left: 35%;
}
.card h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
input{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
    margin-top: 10px;
    width: 20vw;
    height: 5vh;
    font-size: large;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}
input:valid{
    border: 2px solid green;
}
input:invalid{
    border:2px solid red;
}
input::placeholder{
    color: rgb(101, 195, 226);
    text-align: center;
    font-size: medium;
}
.card button{
    align-content: center;
    margin-left: 130px;
    margin-top: 20px;
    width: 10vw;
    height: 5vh;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px solid lightblue;
}
.card strong a{
    text-align: center;
    color: rgb(0, 195, 255);
}
.card strong {
    margin:0 20px 40px 100px; 
    text-align: center;
}
.dropdown{
    overflow: hidden;}
.card p{
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.icon{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.icon a{
    color: black;
    margin: 10px;
    font-size: 20px;
}
